<!DOCTYPE html>
<html>
  {{> head}}
  <body class="centered-form">
    <div class="centered-form__form">


      <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="" id="login-forms">
				<button type="button" id="sBtn" name="button">Sign In</button>
        <button type="button" id="jBtn" name="button">Join</button>
					<div id="login-wrap" id="panel-log">
            <form id="log"method="POST" action="/login">
              <div class="form-field">
                <h3>{{signIn}}</h3>
              </div>
              <div class="form-field">
                <label for="">User Email</label>
                <input type="email" name="email" autofocus>
              </div>
              <div class="form-field">
                <label for="">Password</label>
                <input type="password" name="password">
              </div>
              <div class="form-field">
                <button>Join</button>
              </div>
            </form>
					</div>
					<div id="register-wrap" id="panel-reg">
            <form id="reg" method="POST" action="/register">
              <div class="form-field">
                <h3>{{join}}</h3>
              </div>
              <div class="form-field">
                <label for="">User Email</label>
                <input type="email" name="email" autofocus>
              </div>
              <div class="form-field">
                <label for="">Password</label>
                <input type="password" name="password">
              </div>
              <div class="form-field">
                <button>Join</button>
              </div>
            </form>
					</div>

			</div>
		</div>
	</div>
</div>
    </div><br>

      {{> script}}

  </body>
</html>
