<!DOCTYPE html>
<html>
  {{> head}}
  <body class="centered-form">
    <div class="centered-form__form">


      <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="tabbable" id="tabs-62519">
				<ul class="nav nav-tabs">
					<li>
						<a href="#panel-845756" data-toggle="tab">Sign In</a>
					</li>
					<li class="active">
						<a href="#panel-567051" data-toggle="tab">Join</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane" id="panel-845756">
            <form method="POST" action="/login">
              <div class="form-field">
                <h3>{{signUp}}</h3>
              </div>
              <div class="form-field">
                <label for="">User Email</label>
                <input type="email" name="email" autofocus>
              </div>
              <div class="form-field">
                <label for="">Password</label>
                <input type="password" name="password">
              </div>
              <div class="form-field">
                <button>Join</button>
              </div>
            </form>
					</div>
					<div class="tab-pane active" id="panel-567051">
            <form  method="POST" action="/register">
              <div class="form-field">
                <h3>{{join}}</h3>
              </div>
              <div class="form-field">
                <label for="">User Email</label>
                <input type="email" name="email" autofocus>
              </div>
              <div class="form-field">
                <label for="">Password</label>
                <input type="password" name="password">
              </div>
              <div class="form-field">
                <button>Join</button>
              </div>
            </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    </div><br>

      {{> script}}

  </body>
</html>
